	::-webkit-input-placeholder {
	   color: red;
	   padding-top: 9px;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: red;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: red;
	}

	:-ms-input-placeholder {  
	   color: red;  
	   padding-top: 9px;
	}